* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: black;
    font-family: "Quintessential", serif;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Barriecito';
    src: url('fonts/Barriecito-Regular.woff2') format('woff2'),
        url('fonts/Barriecito-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.child-photo {
    width: 500px;
    height: 900px;
}

.aiwa-pic-and-text {
    display: flex;
    justify-content: start;
    width: 400px;
    background-color: rgb(28, 3, 3);
    opacity: 0.7;
    color: rgb(231, 231, 46);
    position: absolute;
    top: 800px;
    gap: 6px;
    height: 120px;
    padding-left: 100px;
}

.aiwa-pic-and-text p {
    font-family: 'Barriecito', serif;
    font-weight: 400;
    font-style: normal;
    font-size: 100px;
}

.aiwa-pic-and-text img {
    height: 100px;
    width: 100px;
}

.author {
    display: flex;
    position: absolute;
    width: 500px;
    top: 975px;
    justify-content: center;
    color: rgb(231, 231, 46, 0.7);
}

.author a {
    color: rgb(231, 231, 46, 0.7);
}

.container {
    display: flex;
    margin: 100px 100px 100px 250px;
    justify-content: center;
    width: 80%;
}

.info-container {
    background-color: white;
    height: 900px;
}

.info-container p {
    padding: 130px 50px 80px 50px;
    font-size: 32px;
    justify-content: end;
    text-align: end;
}

.background {
    flex: 0 1 20%;
}

.background p {
    position: absolute;
}

.form-background {
    background-color: rgba(245, 245, 245, 0.499);
    flex: 1 0 60%;
}

.form-background h2 {
    padding: 50px 0 0 50px;
}

form label {
    display: block;
    margin-bottom: 2px;
    font-size: 12px;
}

input {
    width: 230px;
    height: 25px;
    margin-right: 50px;
    border-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    outline: none;
    padding-left: 4px;
}

input:valid:focus {
    border-color: rgba(5, 232, 5, 0.387);
}

input:invalid:focus {
    border-color: rgba(229, 10, 10, 0.324);
}

.form-set {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 600px;
    padding: 10px 0px 10px 50px;
}

.confirm-button {
    background-color: white;
    margin-top: 30px;
    padding: 20px 0 0 50px;
}

button {
    padding: 10px 60px;
    border-radius: 10px;
    background-color: rgb(231, 231, 46, 0.7);
    color: rgb(28, 3, 3, 0.7);
    font-size: 20px;
    border-color: rgb(28, 3, 3, 0.3);
}

.log-in {
    padding: 20px 0 0 50px;
    background-color: white;
}

.log-in a {
    text-decoration: none;
    color: rgb(231, 231, 46, 0.7);
}


